{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name = 'viewport' content = 'width=device-width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'RinxVenture is an ecommerce store where you can find genuine phones and gadgets from any brand. We also provide phone repair services.'>
        <meta name = 'robots' content = 'index, follow'>
        <meta name = 'keywords' content = 'E-commerce, Phones, Gadgets, devices, computer, repair'>
        <meta name = 'author' content = 'PythoGenius'>
        <meta name = 'author' content = 'Whatsapp me on +2348074625742'>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

        <!-- TailwindCSS Compilation -->
        <link rel="stylesheet" href="{% static 'src/npx tailwindcss -i ./static/src/input.css -o ./static/src/output.cssoutput.css' %}">
        <link rel="stylesheet" href="{% static 'src/output.css' %}">

        <!-- CSS Link-->
        <link rel="stylesheet" href="{% static 'styles.css' %}">

        <script src="https://cdn.tailwindcss.com"></script>


        <title> {{ all_product.name }} </title>
    </head>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/66d5e45950c10f7a00a323d0/1i6po80k7';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <body class='bg-slate-100 font-poppins'>
        <header>
            <nav class="flex justify-between items-center w-[100%] mx-auto bg-slate-100">
                <div class="m-4 ml-8 w-2/4 md:ml-4">
                    <a href='/'><img src="{% static 'rinxlogo1.png' %}" alt="RinxVenture Logo" class='w-2/4 h-auto'></a>
                </div>

                <div class="nav-links duration-500 w-full pl-4 bg-[#FFF5EE] md:bg-transparent absolute md:static min-h-[100vh] md:min-h-fit left-0 top-[-100%] z-20">
                    <ul class="flex md:flex-row flex-col md:justify-evenly md:gap-[1vw] gap-4 mt-4 md:mt-0 font-magnolia text-[#35b6f9]">
                        <li>
                            <a class='hover:text-red-500 text-xl' href = '/'><i class="bi bi-house"></i> Home </a>
                        </li>

                        <li>
                            <a class='hover:text-red-500 text-xl' href = "{% url 'cart' %}"><i class="bi bi-cart4"></i> Cart </a>
                        </li>

                        <li>
                            <a class='hover:text-red-500 text-xl' href = "{% url 'orders' %}"><i class='bx bx-package' ></i> Order  </a>
                        </li>

                        <li>
                            <a class='hover:text-red-500 text-xl' href = "{% url 'phone-repair' %}"><i class="bi bi-phone"></i> Phone Repair  </a>
                        </li>

                        <li>
                            {% if user.is_authenticated %}
                                <a class='hover:text-red-500 text-xl' href="{% url 'logout' %}"><i class="bi bi-box-arrow-in-left"></i> Log Out </a>
                            {% else %}
                                <a class='hover:text-red-500 text-xl' href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Sign In </a>
                            {% endif %}
                        </li>

                        <li class='relative group z-20 md:hidden'>
                            <a class='hover:text-red-500 text-xl' href = '#'><i class="bi bi-tags"></i> Category </a>
                            <!-- <ul class="absolute left-0 hidden group-hover:block group-focus-within:block bg-inherit mt-2 shadow-lg rounded-lg w-40 z-20">
                            {% for category in data.categories %}
                                <li class='mb-4 m-2'>
                                    <a href="?category={{ category.id }}" class='hover:text-red-500 text-xl'> {{ category.name }} </a>
                                </li>
                            {% endfor %}
                            </ul> -->
                        </li>
                    </ul>
                </div>
                <div class='text-[#35b6f9] absolute right-10 z-20'>
                    <i onclick='onToggleMenu(this)' name='menu' class='bi bi-list text-2xl cursor-pointer md:hidden'></i>
                </div>
            </nav>
        </header>

        <section class='overflow-hidden'>
            <div class='block lg:flex justify-evenly w-[98%]'>
                <div class='relative overflow-hidden w-full lg:w-[55] mt-2 mr-2'>
                    <div id='carousel' class='flex transition-transform duration-500 ease-in-out h-[100%] ml-4'>
                        <div class='carousel-item w-full h-[90%]'>
                            <img src="{{ all_product.image_0.url }}" alt='slide0' class='w-full h-full object-cover rounded-md'>
                        </div>
                    </div>
                    <!-- Previous Button -->
                    <button id="prev" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded ml-8">
                        &lt;
                    </button>

                    <!-- Next Button -->
                    <button id="next" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded mr-4">
                        &gt;
                    </button>
                </div>
                <div class='w-full lg:w-[45]'>
                    <div class='relative'>
                        <div class='flex justify-evenly lg:h-[90%] lg:grid lg:grid-cols-2 lg:gap-1'>
                            <div class='p-2'>
                                <img src="{{ all_product.image_1.url }}" alt='slide1' class='h-full object-cover rounded-lg'>
                            </div>
                            <div class='p-2'>
                                <img src="{{ all_product.image_2.url }}" alt='slide2' class='h-full object-cover rounded-lg'>
                            </div>
                            <div class='p-2'>
                                <img src="{{ all_product.image_3.url }}" alt='slide3' class='h-full lg:h-[80%] object-cover rounded-lg'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <table class='w-full lg:w-[70%] m-4 border'>
                    <tbody>
                        <tr class='mt-4'>
                            <td class='font-semibold text-sm text-[#35b6f9] w-1/2 py-0'> Brand </td>
                            <td class='font-semibold text-sm text-[#35b6f9] w-1/2 py-0'> Model </td>
                        </tr>
                        <tr>
                            <td class='w-1/2 py-3'> {{all_product.category}} </td>
                            <td class='w-1/2 py-3'> {{all_product.name}} </td>
                        </tr>

                        <tr>
                            <td class='font-semibold text-sm text-[#35b6f9] w-1/2 py-0'> Condition </td>
                            <td class='font-semibold text-sm text-[#35b6f9] w-1/2 py-0'> Operating System </td>
                        </tr>
                        <tr>
                            <td class='w-1/2 py-3'> {{all_product.condition}} </td>
                            <td class='w-1/2 py-3'> {{all_product.os}} </td>
                        </tr>

                        <tr>
                            <td class='font-semibold text-sm text-[#35b6f9] w-1/2 py-0'> Storage </td>
                            <td class='font-semibold text-sm text-[#35b6f9] w-1/2 py-0'> Price </td>
                        </tr>
                        <tr>
                            <td class='w-1/2 py-3'> {{all_product.storage}} </td>
                            <td class='w-1/2 py-3'> ₦{{all_product.price}} </td>
                        </tr>

                        <tr>
                            <td class='font-semibold text-sm text-[#35b6f9] w-1/2 py-0'> Color </td>
                            <td class='font-semibold text-sm text-[#35b6f9] w-1/2 py-0'> Battery </td>
                        </tr>
                        <tr>
                            <td class='w-1/2 py-1'> {{all_product.color}} </td>
                            <td class='w-1/2 py-1'> {{all_product.battery}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='ml-4 mr-4 text-[#334]'>
                <p class='whitespace-pre-line'>
                    {{ all_product.description | safe }}
                </p>
                {% for product in related_products %}
                    <form method="post" action="{% url 'homepage' %}" class='w-[95%] bg-[#35b6f9] hover:bg-red-500 mt-4 ml-1 text-center'>
                        {% csrf_token %}
                        <input type="hidden" name="all_product" value="{{ all_product.product.id }}"/>
                        <button type="submit" class=" font-bold py-2 px-4 text-white"><i class="bi bi-cart4"></i> &nbsp; Add To Cart </button>
                    </form>
                {% endfor %}
            </div>

            <div class='m-4 text-[#334] mt-8'>
                <div>
                    <h2 class='text-xl mb-4 font-semibold'> Your Reviews Matters </h2>
                    <form method="POST" action="{% url 'product-details' all_product.id %}">
                        {% csrf_token %}
                        <div class='h-[40%]'>
                            <textarea rows='10' name='body' id='body' class='mt-1 p-2 h-[40%] border border-gray-300 rounded-md w-full focus:outline-none'></textarea>
                        </div>
                        <button type='submit' class='bg-[#35b6f9] hover:bg-red-500 text-white cursor-pointer py-2 px-4 rounded mt-4 mb-4'> Submit </button>
                    </form>
                </div>
                <div class='mt-8 w-full'>
                    {% for comment in comments %}
                    <div class='p-4 bg-gray-200 rounded-lg mb-4'>
                        <!--<p> On {{ comment.created_on }} <b>{{ comment.author }}</b> wrote: </p>-->
                        <p>
                            <i class="bi bi-person-circle text-6xl"></i><sub>{{ comment.author }}</sub>
                        </p>
                        <p class='whitespace-pre-line'>
                            {{ comment.body | linebreaks }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class='m-4 text-[#334]'>
                <h2 class='text-xl mb-4'> Related Products </h2>
                <div class='w-full m-2 md:m-4 grid grid-cols-2 xl:grid-cols-4 gap-1 justify-evenly'>
                    {% for product in related_products %}
                    <div class='ml-2 m-8 mb-2 bg-white shadow-lg rounded-md flex-none'>
                        <a href="{% url 'product-details' product.id %}"><img src='{{ product.image_0.url }}' alt='image' class='w-full rounded-t-xl'></a>
                        <div class = 'w-[100%]'>
                            <h2 class='font-semibold text-sm ml-1 mb-1'><a href="{% url 'product-details' product.id %}"> {{ product.name }} </a></h2>
                            <p class='text-red-500 text-sm ml-1 mb-1'><a href="{% url 'product-details' product.id %}"> ₦{{ product.price }} </a></p>

                            <!-- This is for the cart System -->
                            <div class='w-full bg-[#35b6f9] hover:bg-blue-500 text-white h-8 flex justify-center items-center'>
                                <!-- This is for the add to cart form-->
                                <form method="post" action="{% url 'homepage' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" value="{{ product.id }}">
                                    <button type="submit" class=" font-bold py-2 px-4 text-"> + </button>
                                </form>

                                <h2 class='text-xs md:text-sm'> Add To Cart </h2>

                                <!-- Remove from Cart Form -->
                                <form method="post" action="{% url 'homepage' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" value="{{ product.id }}">
                                    <input type="hidden" name="remove" value="1">
                                    <button type="submit" class="text-red-500 text-xl font-bold py-2 px-4"> - </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <footer class="relative w-full text-white py-8">
            <div class="container mx-auto px-4">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

                    <!-- About Us Column -->
                    <div>
                        <h2 class="text-2xl md:text-3xl mb-8">Contact Us</h2>
                        <ul class="text-lg md:text-xl font-bold space-y-4">
                            <li><i class="bi bi-geo-alt"></i> Old Banex plaza Bsg 33A Opposite Greatfaith communication</li>
                            <li><i class="bi bi-telephone-inbound"></i> +234 816 217 4520</li>
                            <li><i class="bi bi-whatsapp"></i> +234 816 217 4520</li>
                            <li><i class="bi bi-envelope-plus"></i> RinxVenture@gmail.com</li>
                        </ul>
                    </div>

                    <!-- Links Column -->
                    <div>
                        <h2 class="text-2xl md:text-3xl mb-8">Links</h2>
                        <ul class="text-lg md:text-xl font-bold space-y-4">
                            <li><a href="{% url 'store' %}"><i class="bi bi-arrow-right"></i> Store</a></li>
                            <li><a href="{% url 'cart' %}"><i class="bi bi-arrow-right"></i> Cart</a></li>
                            <li><a href="{% url 'orders' %}"><i class="bi bi-arrow-right"></i> Order</a></li>
                            <li><a href="{% url 'phone-repair' %}"><i class="bi bi-arrow-right"></i> Device Repair</a></li>
                            <li><a href="{% url 'contacts' %}"><i class="bi bi-arrow-right"></i> Contact</a></li>
                        </ul>
                    </div>

                    <!-- Opening Hours Column -->
                    <div>
                        <h2 class="text-2xl md:text-3xl mb-8">Opening Hours</h2>
                        <ul class="text-lg md:text-xl font-bold space-y-4">
                            <li><i class="bi bi-clock"></i>&nbsp;Monday <span class="ml-4">8:00 AM - 7:00 PM</span></li>
                            <li><i class="bi bi-clock"></i>&nbsp;Tuesday <span class="ml-4">8:00 AM - 7:00 PM</span></li>
                            <li><i class="bi bi-clock"></i>&nbsp;Wednesday <span class="ml-4">8:00 AM - 7:00 PM</span></li>
                            <li><i class="bi bi-clock"></i>&nbsp;Thursday <span class="ml-4">8:00 AM - 7:00 PM</span></li>
                            <li><i class="bi bi-clock"></i>&nbsp;Friday <span class="ml-4">8:00 AM - 7:00 PM</span></li>
                            <li><i class="bi bi-clock"></i>&nbsp;Saturday <span class="ml-4">8:00 AM - 7:00 PM</span></li>
                            <li><i class="bi bi-clock"></i>&nbsp;Sunday <span class="ml-4">CLOSED</span></li>
                        </ul>
                    </div>

                </div>
                <div class='mt-[15%] flex justify-between'>
                    <h2 class='text-sm'> Copyright © RinxVenture. All Rights Reserved. </h2>
                    <h2 class='text-sm'><a href="https://github.com/Stephen842" class='text-red-500 font-bold'> PythoGenius </a></h2>
                </div>
            </div>
        </footer>

        <!-- This script below is for the navbar-->
        <script>
            const navLinks = document.querySelector('.nav-links')
            function onToggleMenu(e){
                e.name = e.name === 'menu' ? 'close' : 'menu'
                navLinks.classList.toggle('top-[0%]')
            }
        </script>
    </body>
</html>
