{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name = 'viewport' content = 'width=device-width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'RinxVenture is an ecommerce store where you can find genuine phones and gadgets from any brand. We also provide phone repair services.'>
        <meta name = 'robots' content = 'index, follow'>
        <meta name = 'keywords' content = 'E-commerce, Phones, Gadgets, devices, computer, repair'>
        <meta name = 'author' content = 'PythoGenius'>
        <meta name = 'author' content = 'Whatsapp me on +2348074625742'>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

        <!-- TailwindCSS Compilation -->
        <link rel="stylesheet" href="{% static 'src/npx tailwindcss -i ./static/src/input.css -o ./static/src/output.cssoutput.css' %}">
        <link rel="stylesheet" href="{% static 'src/output.css' %}">

        <!-- CSS Link-->
        <link rel="stylesheet" href="{% static 'repair.css' %}">

        <script src="https://cdn.tailwindcss.com"></script>


        <title> {{ title }} </title>
    </head>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/66d5e45950c10f7a00a323d0/1i6po80k7';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <body class='bg-slate-100 font-poppins'>
        <header>
            <div class=' hidden lg:flex m-6 ml-[40%] justify-evenly'>
                <div class='flex'>
                    <h2> <i class="bi bi-telephone text-5xl text-[#35b6f9]"></i> </h2>
                    <h2 class='ml-2 font-bold'>
                         Call Us <br/> <span class='font-normal text-[#333]'> +234 816 217 4520 </span>
                    </h2>
                </div>
                <div class='flex'>
                    <h2><i class="bi bi-alarm text-5xl text-[#35b6f9]"></i></h2>
                    <h2 class='ml-2 font-bold'>
                        Opening Hours <br/> <span class='font-normal text-[#333]'> Mon-Sat: 08:00 – 18:00 Sun: CLOSED </span>
                    </h2>
                </div>
            </div>
            <hr class='w-[90%] mx-auto m-4 hidden xl:block'/>
            <div class='nav2'>
                <nav class="flex justify-between items-center w-[100%] mx-auto bg-slate-100">
                    <div class="m-4 ml-8 w-2/4 md:ml-4">
                        <a href='/'><img src="{% static 'rinxlogo1.png' %}" alt="RinxVenture Logo" class='w-2/4 h-auto'></a>
                    </div>

                    <div class="nav-links duration-500 w-full pl-4 bg-[#FFF5EE] md:bg-transparent absolute md:static min-h-[100vh] md:min-h-fit left-0 top-[-100%] z-20">
                        <ul class="flex md:flex-row flex-col md:justify-evenly md:gap-[1vw] gap-4 mt-4 md:mt-0 font-magnolia text-[#35b6f9]">
                            <li>
                                <a class='hover:text-red-500 text-xl' href = "{% url 'phone-repair' %}"><i class="bi bi-house"></i> Home </a>
                            </li>

                            <li>
                                <a class='hover:text-red-500 text-xl' href = "{% url 'store' %}"><i class="bi bi-cart4"></i> Store </a>
                            </li>

                            <li>
                                <a class='hover:text-red-500 text-xl' href = "#"><i class="bi bi-truck"></i> Services </a>
                            </li>

                            <li>
                                <a class='hover:text-red-500 text-xl' href="{% url 'contacts' %}"><i class="bi bi-person-lines-fill"></i> Contact  </a>
                            </li>
                        </ul>
                    </div>
                    <div class='text-[#35b6f9] absolute right-10 z-20'>
                        <i onclick='onToggleMenu(this)' name='menu' class='bi bi-list text-2xl cursor-pointer md:hidden'></i>
                    </div>
                </nav>

                <div class='m-4 mt-[16%] text-center items-center'>
                    <div>
                        <h2 class='text-5xl font-times text-red-500 font-bold'> Your Device Repair Expert! </h2>
                    </div>
                    <div>
                        <h2 class='whitespace-pre-line text-3xl font-times text-white font-bold'>
                            Success! Your Message Has Been Sent.
                        </h2>
                        <p class='whitespace-pre-line text-xl mb-4 text-white font-semibold'>
                            Thank you for reaching out to RinxVenture. We’ve received your message and will get back to you as
                            soon as possible. We appreciate your patience and look forward to assisting you.
                        </p>
                    </div>
                    <div>
                        <button class='bg-[#35b6f9] hover:bg-red-500 text-white cursor-pointer py-2 px-4 rounded'><a href = "{% url 'phone-repair' %}"> Learn More </a></button>
                    </div>
                </div>
            </div>
        </header>

        <!-- This script below is for the navbar-->
        <script>
            const navLinks = document.querySelector('.nav-links')
            function onToggleMenu(e){
                e.name = e.name === 'menu' ? 'close' : 'menu'
                navLinks.classList.toggle('top-[0%]')
            }
        </script>


        <script>
            // Wait for 20 seconds and then redirect to the home page
            setTimeout(function() {
                window.location.href = "{{ repair_url }}";
            }, 20000); // 20000 milliseconds = 20 seconds
        </script>
    </body>
</html>
