/* This line below is for the login and signup page input field styling */

.form-control{
    width: 100%;
    color: #4a5568;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff7474;
    border-bottom-right-radius: 4px;
    border-color: #ff7474;
}

.form-control::placeholder {
    color: #ff7474;
}

/* this lines below is for the header of each pages */
.head-img::before{
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
}

.head-img{
    background-image: url(estore.webp);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height: 40vh;
    position: relative;
    
}
